/* .contain {
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    min-height: 740px;
    background-position: 50%;
    background-size: cover;
    position: relative;
} */