.container {
    background-image: url("../Images/priceing.png");
    background-repeat: no-repeat;
    min-height: 481px;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    background: 0 0;
    position: sticky;
    top: 0;
    z-index: 5;
    color: #f5f2f0;
}

.navbar.scrolled {
    background: linear-gradient(180deg, rgba(24, 28, 41, .8), rgba(24, 28, 41, .92) 100%, rgba(24, 28, 41, .92) 0);
    box-shadow: 0 12px 16px rgba(37, 39, 44, .2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

}

.navbar>div {
    margin-left: 2px;
}

.home {
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 59px;
    margin-top: 97px;
}

.home h3 {
    margin-top: 13px;
    font-size: 47px;
    font-weight: 900;
    letter-spacing: 0.3px;
}


.pricetag {
    display: flex;
    justify-content: center;
    margin-left: 415px;
    background-color: rgba(37, 39, 44);
    margin-top: 9px;
    border-radius: 51px;
}

.pricetag>div {
    padding: 5px 25px 0px 48px;

}

.pricetag>div>p {

    font-size: 17px;
}

.pricelist {
    background-color: #2e2f31;
    background-repeat: no-repeat;
    min-height: 1125px;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.pricememo {
    width: 83%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 299px;
    margin-left: 111px;
    z-index: 1;

}

.pricememo>div {
    width: 23.5%;
    margin: auto;
    height: 1157px;
    background-color: #252525;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 21px;
}

.pricememo>div>div {
    text-align: center;
    margin-top: 7px;

}

.pricememo>div>div>h1 {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 26px;
}

.pricememo>div>div>p {
    padding-top: 17px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-display: inherit;
    padding-left: 19px;
    padding-right: 19px;
    margin-bottom: 17px;

}

.pricememo>div>div>h5 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -11px;
    color: blanchedalmond;
}

.pricememo>div>div>button {
    border-radius: 15px;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.priceUn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 11px;


}

.tickText {
    width: 72%;
    text-align: left;

}

.tickText>h6 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-right: 25px;
}

.tickText>p {
    font-size: 11px;
    margin-top: 4px;
    color: #e6d0b8;
    padding-right: 25px;
    font-weight: 400;
}

.tickText>h5 {
    font-size: 10.5px;
    color: #f1b300;
    margin-top: 3px;
    font-weight: 200;
    letter-spacing: 0.2px;
}

.tickText>h4 {
    color: hsla(24, 20%, 95%, .7);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-right: 25px;
}

.tickText>h3 {
    font-size: 11px;
    margin-top: 4px;
    color: hsla(24, 20%, 95%, .7);
    padding-right: 25px;
    font-weight: 400;

}

.tick {
    width: 20%;

}

.tick>img {
    width: 45%;
    margin-left: 25px;
}